:root {
    --navbar-color: rgba(245,246,248,255);
    --navbartext-color: rgba(159,163,166,255);
    --red-color: rgba(222,113,120,255);
    --text-color: rgba(236,236,236,255);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 5%;
}

.red-line {
    height: 5px;
    background-color: var(--red-color);
}

hr {
    width: 100%;
    border: 0;
}

h1 {
    color: rgb(48, 47, 47);
}

/* HEADER */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}


/* MENU BURGER */
.menu-burger {
    width: 80px;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-line {
    
    width: 20px;
    height: 3px;
    background-color: grey;
    margin: 2px 0;
}
/* SOCIAL ICON */
.navbar i {
    color: grey;
    margin: 0 5px;
}

/* TITLE */
h3 {
    font-weight: lighter;
    color: var(--navbartext-color);
}

h3 span {
    color: rgb(48, 47, 47);
    font-weight: bold;
}

/* HEADER IMG */

.speech-img {
    width: 100%;
    height: auto;
}

.speech-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.speech p {
    color: rgb(78, 77, 77);
    text-transform: uppercase;
}
